<%- model_class = @project.class -%>
<div class="form-heading"><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                 :default => "Edit #{model_class.model_name.human}") %></form>
<%= render :partial => 'form' %>
